@font-face {
  font-family: 'Lexend';
  src: url('/fonts/lexend-v25-latin_latin-ext-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Scheherazade New';
  src: url('/fonts/scheherazade-new-v17-arabic_latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Uthmanic Hafs';
  src: url('/fonts/UthmanicHafs1Ver18.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --font-family: 'Lexend', sans-serif;
}

html,
body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;

  height: 100%;
}

.arabic-text {
  font-family: 'Scheherazade New', serif;
}

.quran-text {
  font-family: 'Uthmanic Hafs', serif;
}

html.dark {
  background-color: #181818;
  color: white;
}

html.light {
  background-color: #f5f5f5;
  color: black;
}

@media (prefers-color-scheme: dark) {
  html:not(.light) {
    background-color: #181818;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  html:not(.dark) {
    background-color: #f5f5f5;
    color: black;
  }
}
