@import url("./preflight.css");

@font-face {
  font-family: "Amiri";
  src: url("/fonts/amiri-v30-arabic-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/lexend-v25-latin_latin-ext-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Scheherazade New";
  src: url("/fonts/scheherazade-new-v17-arabic_latin-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Uthmanic Hafs";
  src: url("/fonts/UthmanicHafs_v22.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* Uthmanic Hafs does not have punctionation marks, we take them from Scheherazade */
  font-family: "Uthmanic Hafs Punctuation";
  src: url("/fonts/scheherazade-new-v17-arabic_latin-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  /*  (Arabic comma) ØŒ ,  ASCII digits and parentheses */
  unicode-range: U+060C, U+0028-0029, U+0030-0039;
}

:host,
:root {
  --preferred-arabic-font-family: "Uthmanic Hafs";
  --font-family: "Lexend", sans-serif;
  --arabic-font-size: 2rem;
  --translation-font-size: 1rem;
  --transliteration-font-size: 1rem;
  --show-arabic: block;
  --show-translation: block;
  --show-transliteration: block;
}

html,
body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;

  height: 100%;
}

.arabic {
  font-family:
    "Uthmanic Hafs Punctuation", var(--preferred-arabic-font-family),
    "Scheherazade New", "Uthmanic Hafs", serif;
  direction: rtl;
  font-size: var(--arabic-font-size);
  display: var(--show-arabic, block);
}

.quran {
  font-family: "Uthmanic Hafs", "Scheherazade New", serif;
  font-size: calc(var(--arabic-font-size) * 1.1); /* Font is a bit smaller */
}

.translation {
  font-size: var(--translation-font-size);
  display: var(--show-translation, block);
}

.translit {
  font-size: var(--transliteration-font-size);
  display: var(--show-transliteration, block);
}

/* Shoelace Specific Theme Override */
:root,
:host {
  --sl-input-font-family: var(--font-family);
}
:root,
:host,
.sl-theme-light {
  --sl-color-primary-50: rgb(240 252 251);
  --sl-color-primary-100: rgb(203 244 241);
  --sl-color-primary-200: rgb(170 234 229);
  --sl-color-primary-300: rgb(158 218 213);
  --sl-color-primary-400: rgb(142 196 192);
  --sl-color-primary-500: rgb(122 168 165);
  --sl-color-primary-600: rgb(101 139 136);
  --sl-color-primary-700: rgb(83 114 112);
  --sl-color-primary-800: rgb(68 94 92);
  --sl-color-primary-900: rgb(48 67 65);
  --sl-color-primary-950: rgb(30 41 40);
}

:host,
.sl-theme-dark {
  --sl-color-primary-950: rgb(240 252 251);
  --sl-color-primary-900: rgb(203 244 241);
  --sl-color-primary-800: rgb(170 234 229);
  --sl-color-primary-700: rgb(158 218 213);
  --sl-color-primary-600: rgb(142 196 192);
  --sl-color-primary-500: rgb(122 168 165);
  --sl-color-primary-400: rgb(101 139 136);
  --sl-color-primary-300: rgb(83 114 112);
  --sl-color-primary-200: rgb(68 94 92);
  --sl-color-primary-100: rgb(48 67 65);
  --sl-color-primary-50: rgb(30 41 40);
}
/* End Shoelace Specific Theme Override */
