name: Build & Deploy PWA to GitHub Pages

on:
  workflow_dispatch:
  push:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install

      - name: Run Path Rewriting Script
        run: bun run scripts/rewrite-paths.ts ${{ github.event.repository.name }}

      - name: Production Build
        run: bun run build:prod -- --base=/${{ github.event.repository.name }}

      - name: Run Path Rewriting Script (Post-build)
        run: bun run scripts/rewrite-paths.ts ${{ github.event.repository.name }} --post-build

      - name: Redirect 404 to Index for SPA
        run: cp dist/index.html dist/404.html

      - name: Add Google Site Verification
        run: |
          echo 'google-site-verification: google5574d0898cd86e31.html' >> dist/google5574d0898cd86e31.html

      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'workflow_dispatch'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
